<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.metanet.feng.admin.mapper.SysProjectStaffMapper">

    <!-- 结果集 -->
    <resultMap type="work.metanet.feng.admin.api.entity.SysProjectStaff" id="ProjectStaffMap">
        <result property="projectId" column="project_id"/>
        <result property="roleId" column="role_id"/>
        <result property="staffId" column="staff_id"/>
        <result property="staffNo" column="staff_no"/>
        <result property="notes" column="notes"/>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">project_id
    , role_id, staff_no</sql>
    <select id="getStaffListByProjectId" resultType="work.metanet.feng.admin.api.entity.SysStaff">
        SELECT sp.id,
               sp.staff_name,
               sp.staff_no,
               sp.gender_code,
               sp.birthdate,
               pp.notes detailed_introduction,
               sp.organ_code,
               sp.title_name
        FROM project_staff AS pp,
             sys_staff AS sp
        WHERE pp.staff_no = sp.staff_no
          AND pp.project_id = #{projectId}
          AND pp.role_id = #{roleId}
          AND sp.organ_code = #{organCode}
    </select>
</mapper>
