<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.metanet.feng.admin.mapper.SysTeamStaffMapper">

    <!-- 结果集 -->
    <resultMap type="work.metanet.feng.admin.api.entity.SysTeamStaff" id="TeamStaffMap">
        <result property="teamId" column="team_id"/>
        <result property="staffId" column="staff_id"/>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        team_id
        , staff_id    </sql>
    <select id="getStaffList" resultType="work.metanet.feng.admin.api.entity.SysStaff">
        SELECT b.*
        FROM team_staff AS a,
             sys_staff AS b
        WHERE a.staff_id = b.id
          AND a.team_id = #{teamId}
    </select>
</mapper>
