<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.metanet.feng.admin.mapper.SysDictMapper">
    <!-- 结果集 -->
    <resultMap type="work.metanet.feng.admin.api.entity.SysDict" id="SysDictMap">
        <result property="id" column="id"/>
        <result property="dictKey" column="dict_key"/>
        <result property="description" column="description"/>
        <result property="isSystem" column="is_system"/>
        <result property="organCode" column="organ_code"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remarks" column="remarks"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">id, dict_key, description, is_system, organ_code, create_time, update_time, remarks, del_flag</sql>
</mapper>