<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.metanet.feng.admin.mapper.SysDeptRelationMapper">
    <!-- 结果集 -->
    <resultMap type="work.metanet.feng.admin.api.entity.SysDeptRelation" id="SysDeptRelationMap">
        <result property="ancestor" column="ancestor"/>
        <result property="descendant" column="descendant"/>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">ancestor, descendant</sql>

    <!-- 删除指定部门及其所有子部门的关系-->
    <delete id="deleteDeptRelations">		
		WITH RECURSIVE DeptTree AS (
		    <!-- 基础查询：选择要删除的部门作为起点-->
		    SELECT descendant AS dept_id 
		    FROM sys_dept_relation 
		    WHERE ancestor = #{descendant} or descendant= #{descendant}   <!-- 要删除的部门ID-->
		    
		    UNION
		  
		    <!-- 递归查询：查找所有子部门-->
		    SELECT dr.descendant
		    FROM sys_dept_relation dr
		    JOIN DeptTree dt ON dr.ancestor = dt.dept_id
		)
		<!-- 删除部门关系表中所有相关记录-->
		DELETE FROM sys_dept_relation 
		WHERE ancestor IN (SELECT dept_id FROM DeptTree)
		   OR descendant IN (SELECT dept_id FROM DeptTree)
	</delete>

    <!-- 新增节点关系	-->
    <insert id="insertDeptRelations">
		INSERT INTO sys_dept_relation (ancestor, descendant)
		SELECT a.ancestor, b.descendant
		FROM sys_dept_relation a
		CROSS JOIN sys_dept_relation b
		WHERE a.descendant = #{ancestor}
		AND b.ancestor = #{descendant}
	</insert>

    <!--删除部门 > 删除所有关联此部门子节点的闭包关系-->
    <delete id="deleteDeptRelationsByDeptId">
		DELETE
		FROM
		sys_dept_relation
		WHERE
		descendant IN (
		SELECT
		temp.descendant
		FROM
		(
		SELECT
		descendant
		FROM
		sys_dept_relation
		WHERE
		ancestor = #{deptId}
		) temp
		)
	</delete>
</mapper>