<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.metanet.feng.admin.mapper.SysDatasourceMapper">
    <!-- 结果集 -->
    <resultMap type="work.metanet.feng.admin.api.entity.SysDatasource" id="SysDatasourceMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="dsType" column="ds_type"/>
        <result property="confType" column="conf_type"/>
        <result property="host" column="host"/>
        <result property="port" column="port"/>
        <result property="url" column="url"/>
        <result property="dsName" column="ds_name"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="applicationCode" column="application_code"/>
        <result property="varParameter" column="var_parameter" 
            typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="organCode" column="organ_code"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        id, name, ds_type, conf_type, host, port, url, ds_name, username, password, application_code, var_parameter, organ_code, 
        create_by, create_time, update_by, update_time, del_flag    </sql>
</mapper>