<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.metanet.feng.admin.mapper.SysLogMapper">
    <!-- 结果集 -->
    <resultMap type="work.metanet.feng.admin.api.entity.SysLog" id="SysLogMap">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="title" column="title"/>
        <result property="serviceId" column="service_id"/>
        <result property="remoteAddr" column="remote_addr"/>
        <result property="userAgent" column="user_agent"/>
        <result property="requestUri" column="request_uri"/>
        <result property="method" column="method"/>
        <result property="params" column="params"/>
        <result property="time" column="time"/>
        <result property="exception" column="exception"/>
        <result property="organCode" column="organ_code"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>
    
    <!-- 基本字段 -->
    <sql id="Base_Column_List">id, type, title, service_id, remote_addr, user_agent, request_uri, method, params, time, exception, organ_code, create_by, create_time, update_time, del_flag</sql>
</mapper>