<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.metanet.feng.admin.mapper.SysRoleMapper">
    <!-- 结果集 -->
    <resultMap type="work.metanet.feng.admin.api.entity.SysRole" id="SysRoleMap">
        <result property="id" column="id"/>
        <result property="tenantId" column="tenant_id" />
        <result property="roleName" column="role_name"/>
        <result property="roleCode" column="role_code"/>
        <result property="roleDesc" column="role_desc"/>
        <result property="dsType" column="ds_type"/>
        <result property="dsScope" column="ds_scope"/>
        <result property="type" column="type"/>
        <result property="organCode" column="organ_code"/>
        <result property="roleStartTime" column="role_start_time"/>
        <result property="roleEndTime" column="role_end_time"/>
        <result property="isDefault" column="is_default"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">id, role_name, role_code, role_desc, ds_type, ds_scope, type, organ_code, role_start_time, role_end_time, is_default, create_by, create_time, update_by, update_time, del_flag</sql>

    <!-- 通过用户ID，查询角色信息-->
    <select id="listRolesByUserId" resultType="work.metanet.feng.admin.api.vo.SysRoleVO">
        SELECT sr.id,
               sr.role_name,
               sr.role_code,
               sr.role_desc,
               sr.ds_type,
               sr.ds_scope,
               sr.create_time,
               sr.update_time,
               so.organ_name,
               sr.del_flag
        FROM sys_role sr
        JOIN sys_user_role sur ON sr.id = sur.role_id
        JOIN sys_organ so ON sr.organ_code = so.organ_code
        WHERE sr.del_flag = '0'
          AND so.del_flag = '0'
          AND sur.user_id = #{userId}
	</select>
    <select id="selectMenuIdListByRoleId" resultType="java.lang.Integer">
        SELECT
            sm.id
        FROM
            sys_menu AS sm
            INNER JOIN sys_role_menu AS srm ON sm.id = srm.menu_id
            AND sm.del_flag = '0'
            AND sm.application_code = #{applicationCode}
            AND srm.role_id = #{roleId}
    </select>
    <select id="getRoleIdsByUserId" resultType="java.lang.Integer">
        SELECT sr.id
		FROM sys_role sr
		JOIN sys_user_role sur ON sr.id = sur.role_id
		WHERE sr.del_flag = '0'
		  and sur.user_id = #{userId}
    </select>
    <select id="listAll" resultType="work.metanet.feng.admin.api.vo.SysRoleVO">
        SELECT sr.id,
			   sr.role_name,
			   sr.role_code,
			   sr.role_desc,
			   sr.ds_type,
			   sr.ds_scope,
			   sr.create_time,
			   sr.update_time,
			   so.organ_name,
			   sr.del_flag
		FROM sys_role sr
        JOIN sys_organ so ON sr.organ_code = so.organ_code
		WHERE sr.del_flag = '0'
		  AND so.del_flag = '0'
    </select>

</mapper>