<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.metanet.feng.admin.mapper.SysRoleApplicationMapper">

    <!-- 结果集 -->
    <resultMap type="work.metanet.feng.admin.api.entity.SysRoleApplication" id="RoleApplicationMap">
        <result property="roleId" column="role_id"/>
        <result property="applicationId" column="application_id"/>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">role_id
    , application_id</sql>
    <insert id="saveRoleApplications">
        insert into sys_role_application
        (role_id, application_id)
        values
        <foreach collection="applicationIds" item="applicationId" separator=",">
            (#{roleId},#{applicationId})
        </foreach>
    </insert>
    <select id="getApplicationList" resultType="work.metanet.feng.admin.api.entity.SysApplication">
        SELECT c.*
        FROM (SELECT role_id FROM sys_user_role WHERE user_id = #{userId}) AS a
                 INNER JOIN sys_role_application AS b ON a.role_id = b.role_id
                 INNER JOIN sys_application AS c ON b.application_id = c.id
        WHERE c.feng_type = '1'
          AND c.is_feng_portal = '1'
        GROUP BY c.id
    </select>


</mapper>
