<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.metanet.feng.admin.mapper.SysUserMapper">
    <!-- 结果集 -->
    <resultMap type="work.metanet.feng.admin.api.entity.SysUser" id="SysUserMap">
        <result property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="nickName" column="nick_name"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="sexCode" column="sex_code"/>
        <result property="salt" column="salt"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="avatar" column="avatar"/>
        <result property="staffId" column="staff_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="organCode" column="organ_code"/>
        <result property="switchCode" column="switch_code"/>
        <result property="expireTime" column="expire_time"/>
        <result property="expiredFlag" column="expired_flag"/>
        <result property="status" column="status"/>
        <result property="lockFlag" column="lock_flag"/>
        <result property="firstLogin" column="first_login"/>
        <result column="wx_openid" property="wxOpenid"/>
        <result column="mini_openid" property="miniOpenid"/>
        <result column="qq_openid" property="qqOpenid"/>
        <result column="gitee_login" property="giteeOpenId"/>
        <result column="osc_id" property="oscOpenId"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="work.metanet.feng.admin.api.vo.UserVO">
        <id column="user_id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="nick_name" property="nickName"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="sex_code" property="sexCode"/>
        <result column="salt" property="salt"/>
        <result column="phone" property="phone"/>
        <result property="email" column="email"/>
        <result column="avatar" property="avatar"/>
        <result column="staff_id" property="staffId"/>
        <result column="staff_name" property="staffName"/>
        <result column="dept_id" property="deptId"/>
        <result column="organ_code" property="organCode"/>
        <result column="switch_code" property="switchCode"/>
        <result column="expire_time" property="expireTime"/>
        <result column="expired_flag" property="expiredFlag"/>
        <result column="status" property="status"/>
        <result column="lock_flag" property="lockFlag"/>
        <result column="wx_openid" property="wxOpenid"/>
        <result column="qq_openid" property="qqOpenid"/>
        <result column="gitee_login" property="giteeOpenId"/>
        <result column="create_by" property="createBy"/>
        <result column="ucreate_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="uupdate_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="dept_name" property="deptName"/>
        <collection property="roleList" ofType="java.lang.Integer"
                    select="work.metanet.feng.admin.mapper.SysRoleMapper.getRoleIdsByUserId" column="user_id">
        </collection>
    </resultMap>

    <!-- userVo结果集 -->
    <resultMap id="userVoResultMap" type="work.metanet.feng.admin.api.vo.UserVO">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="nick_name" property="nickName"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="sex_code" property="sexCode"/>
        <result column="salt" property="salt"/>
        <result column="phone" property="phone"/>
        <result property="email" column="email"/>
        <result column="avatar" property="avatar"/>
        <result column="staff_id" property="staffId"/>
        <result column="dept_id" property="deptId"/>
        <result column="organ_code" property="organCode"/>
        <result column="switch_code" property="switchCode"/>
        <result column="expire_time" property="expireTime"/>
        <result column="expired_flag" property="expiredFlag"/>
        <result column="status" property="status"/>
        <result column="lock_flag" property="lockFlag"/>
        <result column="wx_openid" property="wxOpenid"/>
        <result column="qq_openid" property="qqOpenid"/>
        <result column="gitee_login" property="giteeOpenId"/>
        <result column="create_by" property="createBy"/>
        <result column="ucreate_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="uupdate_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="dept_name" property="deptName"/>
        <collection property="roles" ofType="work.metanet.feng.admin.api.entity.SysRole" column="id">
            <id column="role_id" property="id"/>
            <result column="role_name" property="roleName"/>
            <result column="role_code" property="roleCode"/>
            <result column="role_desc" property="roleDesc"/>
            <result column="type" property="type"/>
            <result column="rcreate_time" property="createTime"/>
            <result column="rupdate_time" property="updateTime"/>
        </collection>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">id, tenant_id, nick_name, username, password, sex_code, salt, phone, email, avatar, staff_id, dept_id, organ_code, switch_code, expire_time, expired_flag, status, lock_flag, first_login, create_by, create_time, update_by, update_time, del_flag</sql>

    <select id="getUserVoById" resultMap="userVoResultMap">
        SELECT u.id,
               u.tenant_id,
               u.username,
               u.`password`,
               u.salt,
               u.phone,
               u.avatar,
               u.del_flag,
               u.lock_flag,
               u.organ_code,
               u.wx_openid,
               u.gitee_login,
               u.create_time AS ucreate_time,
               u.update_time AS uupdate_time,
               r.id AS role_id,
               r.role_name,
               r.role_code,
               r.role_desc,
               r.type,
               r.create_time AS rcreate_time,
               r.update_time AS rupdate_time,
               d.dept_name,
               d.id AS dept_id
        FROM sys_user u
                 LEFT JOIN sys_user_role ur ON ur.user_id = u.id
                 LEFT JOIN sys_role r ON r.id = ur.role_id
                 LEFT JOIN sys_department d ON d.id = u.dept_id
        WHERE u.del_flag = '0'
          AND u.id = #{id}
    </select>

    <select id="getUserVosPage" resultMap="baseResultMap">
        SELECT
        u.id AS user_id,
        u.tenant_id,
        u.nick_name,
        u.username,
        u.password,
        u.sex_code,
        u.salt,
        u.phone,
        u.email,
        u.avatar,
        u.staff_id,
        sp.staff_name,
        u.dept_id,
        u.organ_code,
        u.switch_code,
        u.expire_time,
        u.expired_flag,
        u.status,
        u.lock_flag,
        u.wx_openid,
        u.gitee_login,
        u.create_by,
        u.create_time AS ucreate_time,
        u.update_by,
        u.update_time AS uupdate_time,
        u.del_flag,
        d.dept_name
        FROM
        sys_user u
        LEFT JOIN sys_department d ON d.id = u.dept_id
        LEFT JOIN sys_staff sp ON sp.id = u.staff_id
        <where>
            u.del_flag = '0'
            <if test="query.username != null and query.username != ''">
                <bind name="usernameLike" value="'%'+query.username+'%'"/>
                AND u.username LIKE #{usernameLike}
            </if>
            <if test="query.nickName != null and query.nickName != ''">
                <bind name="nickNameLike" value="'%'+query.nickName+'%'"/>
                AND u.nick_name LIKE #{nickNameLike}
            </if>
            <if test="query.phone != null and query.phone != ''">
                <bind name="phoneLike" value="'%'+query.phone+'%'"/>
                AND u.phone LIKE #{phoneLike}
            </if>
            <if test="query.deptId != null and query.deptId != ''">
                AND u.dept_id = #{query.deptId}
            </if>
        </where>
        ORDER BY u.create_time DESC
    </select>

    <select id="selectVoListByScope" resultMap="baseResultMap">
        SELECT
        u.id AS user_id,
        u.tenent_id,
        u.nick_name,
        u.username,
        u.password,
        u.sex_code,
        u.salt,
        u.phone,
        u.email,
        u.avatar,
        u.staff_id,
        u.dept_id,
        u.organ_code,
        u.switch_code,
        u.expire_time,
        u.expired_flag,
        u.status,
        u.lock_flag,
        u.wx_openid,
        u.gitee_login,
        u.create_by,
        u.create_time AS ucreate_time,
        u.update_by,
        u.update_time AS uupdate_time,
        u.del_flag,
        d.dept_name
        FROM
        sys_user u
        LEFT JOIN sys_department d ON d.id = u.dept_id
        <where>
            u.del_flag = '0'
            <if test="query.username != null and query.username != ''">
                <bind name="usernameLike" value="'%'+query.username+'%'"/>
                AND u.username LIKE #{usernameLike}
            </if>
            <if test="query.deptId != null and query.deptId != ''">
                AND u.dept_id = #{query.deptId}
            </if>
        </where>
        ORDER BY u.create_time DESC
    </select>

    <select id="findRoleByUsers" resultType="work.metanet.feng.admin.api.entity.SysUser">
        SELECT su.*
        FROM sys_user su,
             sys_user_role sur
        WHERE su.id = sur.user_id
          AND su.del_flag = '0'
          AND sur.role_id = #{roleId}
    </select>
    <select id="getListByDeptCode" resultType="work.metanet.feng.admin.api.entity.SysUser">
        SELECT su.*
        FROM sys_department AS sd,
        sys_user AS su
        WHERE
        sd.id = su.dept_id
        AND sd.del_flag = '0'
        AND su.del_flag = '0'
        AND su.organ_code = #{organCode}
        <if test="deptCode != null and deptCode != ''">
            AND sd.dept_code = #{deptCode}
        </if>
    </select>
    <select id="getListByJobCategory" resultType="work.metanet.feng.admin.api.entity.SysUser">
        SELECT su.*,
               sp.job_category
        FROM sys_staff AS sp,
             sys_user AS su
        WHERE sp.del_flag = '0'
          AND su.del_flag = '0'
          AND sp.id = su.staff_id
          AND su.organ_code = #{organCode}
          AND sp.job_category = #{jobCategory}
    </select>
    
</mapper>